*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    width: 100%;
}
#landing-page{
    background-image: url(img/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    color: rgba(0,0,0,.7);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.flex{
    display: flex;
}
#logo-icon{
    margin: 1rem 0 0 2rem;
    /* opacity: .9; */
}
#icon img{
    width: 5rem
}
#logo{
    padding: .5rem 0 0 1rem;
    font-family: "Bauhaus 93";
    font-size: 3rem;
  
}
.img-sizing{
    width: 40px;
}

#selection-nav li{
    margin: 1.5rem 1rem;
    padding-top: 1rem;
}

#social-nav{
    margin: 2rem
}
#social-nav li{
    padding: .2rem;
}
.call-to-act{
    width: 35%;
    height: 100vh;
    padding: 5rem 0 5rem 5rem;
    color: white;
    
   
}
.travel-site{
    font-size: 2rem;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 rgba(0,0,0,.7), 1px -1px 0 rgba(0,0,0,.7), -1px 1px 0 rgba(0,0,0,.7), 1px 1px 0 rgba(0,0,0,.7); */
}
.tag-line{
    font-size: 5rem;
    color: #213C57;
    font-weight: 600;
    text-shadow: -1px -1px 0 rgba(255,255,255,.7), 1px -1px 0 rgba(0,0,0,.7)
}
.description-text{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 rgba(255,255,255,.4), 1px -1px 0 rgba(0,0,0,.7),1px -1px 0 rgba(0,0,0,.7),1px -1px 0 rgba(0,0,0,.7);
    background-color: rgba(255,255,255,.2);
    border-radius: 20px;
    color: #291216;
}
.pictures{
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    
}
.pictures img{
   max-width: 300px; 
   height: 450px; 
   object-fit: cover; 
   object-position: 50% 0;
   border-top-left-radius: 20px ;
   border-top-right-radius: 20px ;
   border-bottom-left-radius: 20px ;
   border-bottom-right-radius: 20px;
   box-shadow: 0 0 10px 1px rgba(0,0,0,.6);
   opacity: .9;
   margin: 1rem;
   
}
.images{
    position: relative;
}

.button{
    font-size: 1.4rem;
    background-color: #213C57;
    padding:.7rem 2rem;
    color: rgb(255,255,255);
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
   
}
.pic-text{
    position: absolute;
    left: 2.5rem;
    bottom: 3.5rem;
    color: rgba(255,255,255,.7);
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
}

h1{
    padding: 5rem 5rem 5rem 5rem;
    font-size: 3rem;
    background-color: #03232E;
    color: white;
}

.text-center{
    text-align: center;
}
.card-container{
    justify-content: center;
}
.card-title{
    margin-top: 4.5rem;
    font-size: 3rem;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}
.card{
    margin: 4rem 3rem 4rem 8rem;
    border: solid 1px rgba(0,0,0,.2);
    padding: 4rem 4rem 7rem 4rem;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.price{
    font-size: 2.5rem;
    margin: .5rem 0;
}
.gray-text{
    color: rgba(0,0,0,.8);
}
.font-sml{
    font-size: 1rem;
    text-transform: uppercase;
}
.package-description{
    margin: 3rem 0 0 -2rem;
}
.package-description p{
    padding: .5rem 0;
}
.relative{
    position: relative;
}
.btn-one{
    position: absolute;
    bottom: 40px;
}
.btn-two{
    position: absolute;
    bottom: 40px
}
.btn-three{
    position: absolute;
    bottom: 40px;
    right: 105px
}
.direction-column{
    flex-direction: column;
}
.content{
    padding: 2rem;
    margin: 3rem 2rem;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
}
.content-paragraph{
    padding: 2rem 4rem;
    font-size: 1.25rem;
    line-height: 30px;
}
.large-img-content{
    margin-right: .3rem;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
}
.small-img-content-1{
    border-top-right-radius: 20px ;
}
.small-img-content-2{
    margin-top: .3rem;
    border-bottom-right-radius: 20px;
}
h3{
    margin: 0 0 1rem 1rem;
}
.list-style-content{
    list-style: disc;
    padding: 1rem;
}

.note{
    opacity: .8;
    padding: 1rem;
    font-size: 1rem;
}
.red{
    color:red
}


/* HOVER ELEMENTS*/
.selection:hover{
    border-bottom: solid 1px rgba(0,0,0,.5);
}
#social-nav img:hover{
    opacity: .8;
}
.button:hover{
    background-color: #1c3249;
}
.pictures img:hover{
    transform: scale(1.01);
}